.banner {
    position: relative;

}

.bg-img {
    background: url('../../assets/bnr1.jpg');
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: relative;
}

.bg-phu {
    position: absolute;
    background-color: #350743;
    width: 100%;
    opacity: 0.85;
    height: 100vh;
}